<nav>
  <!-- level one select pg-->
  <div class="nav">
    <div class="flex-item">
      <h4><a href="/movies">Home</a></h4>
    </div>

    <div class="search flex-item">
      <h4>Search</h4>
    </div>

    <%if(currentUser){ %>
    <div class="flex-item"><a href="/movies/favorites"><h4>Favorites</h4></a></div>
    <%}%>

    <%if(currentUser){ %>
      <div class="flex-item">
        <h4><a href="/movies/userpg">User</a> </h4>
      </div>
    <%}%>
  </div>

  <!-- Level 2 specific search -->
  <div class="hidden drop-1">
    <div class="flex-item" id='catigory'><h4>Categories</h4></div>
    <div class="flex-item" id='year'><h4>Year</h4></div>
    <div class="flex-item" id='rated'><h4>Rating</h4></div>

  </div>

  <!-- level 3 each specific searches options list -->
  <div class="hidden drop-2 catigory">
    <%const catigoryArr = []
      for (let i = 0; i < allMovies.length; i++) {
        for (let j = 0;j < allMovies[i].catigory.length; j++) {
          if(catigoryArr.indexOf(allMovies[i].catigory[j]) === -1){
            catigoryArr.push(allMovies[i].catigory[j])
          }
        }
      }
      catigoryArr.sort()
     %>

    <% for (let target of catigoryArr) { %>
      <div class="flex-item">
        <a  href="/movies/categories/<%=target%>"><%=target%></a>
      </div>
    <%} %>
  </div>

  <div class="hidden drop-2 year">
    <% const yearArr =[]
    for (let i = 0; i < allMovies.length; i++) {
      if(yearArr.indexOf(allMovies[i].year) === -1){
        yearArr.push(allMovies[i].year)
      }
    }
    yearArr.sort()
    %>

    <%for (let target of yearArr) { %>
      <div class="flex-item">
        <a  href="/movies/year/<%=target%>"><%=target%></a>
      </div>
    <%} %>
  </div>

  <div class="hidden drop-2 rated">
    <% const ratedArr =[]
    for (let i = 0; i < allMovies.length; i++) {
      if(ratedArr.indexOf(allMovies[i].rated) === -1){
        ratedArr.push(allMovies[i].rated)
      }
    }
    ratedArr.sort()
    %>

    <%for (let target of ratedArr) { %>
      <div class="flex-item">
        <a href="/movies/rating/<%=target%>"><%=target%></a>
      </div>
    <%} %>
  </div>



</nav>

<!-- dynamic catigory select -->
<!--1)first make an empty arr in ejs
    2)then loop through all the movies
    3)then loop through each movies catigory arr in the movie loop
    4)have it that if that catigory isnt in the new emptyArr yet push it input

    5)now you have a new arr with all the catiogries, loop through it and
    make each one its own li with its own link
    6)make the li link its own /:id result that leads to its own index rout
    7)in the index rout say /app/carigories/:id, make it
    find({catigoires:req.params.id},af) and itll only return the movies
    with that catigory in it
    8)or you could return all the movies and save on the render the req.
    params.id to a key and use that key to filter out the page population
    on the page itself
 -->
