<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <%include ../partials/head.ejs %>
    <link rel="stylesheet" href="/css/form.css">
    <script src="/js/form.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="form">
      <h1>Edit <%=movie.title%>s Info</h1>
      <form action="/movies/<%=movie.id%>?_method=PUT" method="post">
        <label for="">Title:</label>
         <input type="text" name="title" value="<%=movie.title%>">

         <label for="">Star Rating:</label>
         <select name="stars">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>

        <label for="">Director:</label>
         <input type="text" name="writer" value="<%=movie.writer%>">

         <label for="">Staring:</label>
         <input type="button" value="Add another Actor/Actress" title="starring">
        <%if(movie.starring[0].length === 1){ %>
          <input type="text" name="starring" value="<%=movie.starring%>">
          <%}else{
            for(let i = 0; i < movie.starring.length;i++){ %>
              <input type="text" name="starring" value="<%=movie.starring[i]%>">
            <%}}%>

        <label for="">Picture:</label>
         <input type="button" value="Add another Button" title="img">
         <%if(movie.img[0].length === 1){ %>
           <input type="text" name="img" value="<%=movie.img%>">
           <%}else{
             for(let i = 0; i < movie.img.length;i++){ %>
               <input type="text" name="img" value="<%=movie.img[i]%>">
             <%}}%>

        <label for="">Categories:</label>
        <input type="button" value="Add a Category" title="catigory">
        <%if(movie.catigory[0].length === 1){ %>
          <input type="text" name="catigory" value="<%=movie.catigory%>">
          <%}else{
            for(let i = 0; i < movie.catigory.length;i++){ %>
              <input type="text" name="catigory" value="<%=movie.catigory[i]%>">
            <%}}%>

        <label for="">Runtime:</label>
        <input type="number" name="runtime" placeholder="130" value="<%=movie.runtime%>">

        <label for="">Description:</label>
        <textarea name="movieDescription" rows="8" cols="80"><%=movie.movieDescription%></textarea>

        <label for="">Relese Year:</label>
        <input type="number" name="year" placeholder="2019" value="<%=movie.year%>">

        <label for="">Rated:</label>
        <select name="rated">
          <option value="R">R</option>
          <option value="PG-13">PG-13</option>
          <option value="PG">PG</option>
        </select> <br>

        <input type="submit">
      </form>
    </div>
  </body>
</html>
